<div class="container-fluid header h-75px">
  <div class="d-flex page-control">
    <div class="col-xl-8 col-lg-9 col-md-8 col-sm-9 col-9">
      <div class="d-flex justify-content-end h-75px">
        <div class="col-xxl-3 col-xl-3 d-none d-xl-table page-control__title u-margin-auto">
          <!-- <img class="page-control__logo u-margin-vertical-auto" src="" alt="logo"> -->
          <h3 class="title d-none d-xl-table-cell">Social Network</h3>
        </div>
        <div class="col-xxl-9 col-xl-9 col-md-7 col-sm-12 col-12 u-margin-auto ">
          <form class="page-control__form u-margin-vertical-auto position-relative">
            <input class="page-control__form--input-search" type="text" name="search"
              placeholder="Nhập gì đó để tìm kiếm...">
            <button class="page-control__form--button-search position-absolute" type="submit"><i
                class="bi bi-search"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-4 col-sm-3 col-3 h-75px d-flex justify-content-end">
      <ul class="u-margin-vertical-auto main-dropdown">
        <li>
          <div class="img-avatar d-block d-sm-block d-md-none u-margin-auto u-center-text">
            <img class="u-margin-vertical-auto" src="" alt="">
          </div>
          <button class="animated-border-button d-sm-none d-none d-md-block">Cước Thiên</button>
          <ul class="dropdown">
            <li><a>Quản lý chung</a></li>
            <li><a>Thông tin cá nhân</a></li>
            <li><a>Quản lý bài viết</a></li>
            <li><a>Đổi mật khẩu</a></li>
            <li><a>Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
      <ul class="u-margin-vertical-auto sub-dropdown">
        <li class="position-relative">
          <input class="cb-notification" type="checkbox" name="" id="btn_notification">
          <label for="btn_notification" class="btn-notification"><i class="bi bi-bell-fill"></i>
          </label>
          <span class="position-absolute have-notification" style="height: 2rem;"></span>
          <!-- <a class="btn-notification"></a> -->
          <ul class="notification-dropdown">
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
            <li>
              <strong>Nguyễn Cước Thiên</strong>
              <span>đã gữi cho bạn lời mời kết bạn</span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
