<div class="container-fluid header h-header">
  <div class="d-flex page-control">
    <div class="col-xl-8 col-lg-9 col-md-8 col-sm-9 col-9">
      <div class="d-flex justify-content-end h-header">
        <img
          class="page-control__logo u-margin-vertical-auto d-none d-lg-table-cell d-md-table-cell d-sm-table-cell d-xl-none "
          [routerLink]="['index']" src="../../assets/img/logo.png" alt="logo">
        <div class="logo col-xxl-3 col-xl-3 d-none d-xl-table page-control__title u-margin-auto">
          <h3 class="title d-none d-xl-table-cell" [routerLink]="['index']">Social Network</h3>
        </div>
        <div class="col-xxl-9 col-xl-9 col-md-7 col-sm-10 col-10 u-margin-auto ">
          <form class="search__form u-margin-vertical-auto position-relative">
            <input class="search__form--input-search" type="text" name="search"
              placeholder="{{'SEARCH.SEARCH_INFOR'|translate}}">
            <button class="search__form--button-search position-absolute" type="submit"><i
                class="bi bi-search"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3 col-md-4 col-sm-3 col-3 h-header d-flex justify-content-end">
      <div class="dropdown u-margin-vertical-auto ">
        <a class="btn btn-lang fs-5 mt-3 dropdown-toggle" href="#" role="button" id="dropdownLanguages"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{lang|translate}}
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownLanguages">
          <li><a class="dropdown-item fs-5" (click)="selectLang('en')">{{'HEADER.ENGLISH' | translate}}</a></li>
          <li><a class="dropdown-item fs-5" (click)="selectLang('vi')">{{'HEADER.VIETNAMESE'|translate}}</a></li>
        </ul>
      </div>
      <ul class="u-margin-vertical-auto main-dropdown">
        <li>
          <div class="img-avatar d-block d-sm-block d-md-none u-margin-auto u-center-text">
            <img class="u-margin-vertical-auto" [src]="profile?.avatar" alt="">
          </div>
          <button class="animated-border-button d-sm-none d-none d-md-block">{{profile?.fullname}}</button>
          <ul class="dropdown">
            <li><a [routerLink]="['profile']">{{'HEADER.PROFILE' | translate}}</a></li>
            <li><a [routerLink]="['change-password']">{{'HEADER.CHANGE_PASSWORD' | translate}}</a></li>
            <li><a (click)="logout()">{{'HEADER.LOG_OUT'|translate}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="u-margin-vertical-auto sub-dropdown">
        <li class="position-relative">
          <input class="cb-notification" type="checkbox" name="" id="btn_notification">
          <label for="btn_notification" class="btn-notification"><i class="bi bi-bell-fill"></i>
          </label>
          <span class="position-absolute have-notification" style="height: 2rem;"></span>
          <!-- <a class="btn-notification"></a> -->
          <ul class="notification-dropdown" #chatBoxContent infiniteScroll [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" [scrollWindow]="false"
            (scrolled)="onEnd($event)">
            <li *ngFor="let notification of listNotification; let i = index" style="cursor: pointer;"
              (click)="readNotification(notification.notifyId, i)">
              <div class="col-2 avatar">
                <img [src]="notification.avatar" alt="">
              </div>
              <div class="col-10 ps-3 content" [ngClass]="!notification.isRead ? 'color-black' : 'color-grey'"
                [innerText]="isLangEn ? notification.contentEn : notification.contentVi">
              </div>
            </li>
            <!-- <li>
              <div style="height: 60px;width: 100%;">
                <img class="full-image" style="height: 60px; width: 100%;" src="../../assets/img/id-loading-5.gif"
                  alt="">
              </div>

            </li> -->

          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
