<div class="footer d-none d-md-flex pb-3">
  <div class="col-4 university-info">
    <div class="university-info__logo">
      <img src="../../assets/img/images.png" alt="">
    </div>
    <div class="university-info__logo">
      <img style="width: 65%;" src="../../assets/img/logo_CLC.png" alt="">
    </div>
  </div>
  <div class="col-8 d-flex pt-3">
    <div class="col-7" style="color: #251B6A;">
      <h2 class="pt-3 pb-3">Contact</h2>
      <div class="d-flex">
        <i class="bi bi-map fs-1 me-3"></i>
        <h4 class="d-inline" style="padding: 0.8rem; font-weight: bold;">
          Số 1 Võ Văn Ngân, Thủ Đức, TP.HCM
        </h4>
      </div>
      <div class="d-flex">
        <i class="bi bi-telephone fs-1 me-3"></i>
        <a class="d-inline" style="padding: 0.8rem; font-size: 1.5rem;color: #251B6A;" href="tel:+028 3722 2764">028
          3722 2764</a>
      </div>
      <div class="d-flex">
        <i class="bi bi-envelope fs-1 me-3"></i>
        <a class="d-inline" style="padding: 0.8rem; font-size: 1.5rem;color: #251B6A;"
          href="mailto:p.cthssv@hcmute.edu.vn">p.cthssv@hcmute.edu.vn</a>
      </div>
      <div class="d-flex">
        <i class="bi bi-house-door fs-1 me-3"></i>
        <a class="d-inline" style="padding: 0.8rem; font-size: 1.5rem;color: #251B6A;"
          href="http://www.hcmute.edu.vn">www.hcmute.edu.vn</a>
      </div>
    </div>


    <div class="col-5" style="color: #251B6A;">
      <h2 class="pt-3 pb-3">Author</h2>
      <div class="d-flex">
        <div class="col-3 me-3">
          <img src="../../assets/img/vy.png" alt="" style="max-width: 100%;">
        </div>
        <div class="u-margin-vertical-auto">
          <div class="d-flex">
            <i class="bi bi-mortarboard fs-2 me-3"></i>
            <h4 class="d-none d-lg-inline" style="padding: 0.5rem; font-weight: bold;">
              Tu Ngọc Yến Vy
            </h4>
            <h4 class="d-inline d-lg-none" style="padding: 0.5rem; font-weight: bold;">
              Yến Vy
            </h4>
          </div>
          <div class="d-flex">
            <i class="bi bi-person-bounding-box fs-2 me-3"></i>
            <h4 class="d-inline" style="padding: 0.5rem; font-weight: bold;">
              18110243
            </h4>
          </div>
        </div>
      </div>
      <div class="d-flex">

        <div class="u-margin-vertical-auto">
          <div class="d-flex">
            <i class="bi bi-mortarboard fs-2 me-3"></i>
            <h4 class="d-none d-lg-inline" style="padding: 0.5rem; font-weight: bold;">
              Nguyễn Cước Thiên
            </h4>
            <h4 class="d-inline d-lg-none" style="padding: 0.5rem; font-weight: bold;">
              Cước Thiên
            </h4>
          </div>
          <div class="d-flex">
            <i class="bi bi-person-bounding-box fs-2 me-3"></i>
            <h4 class="d-inline" style="padding: 0.5rem; font-weight: bold;">
              18110204
            </h4>
          </div>
        </div>
        <div class="col-3 me-3">
          <img src="../../assets/img/thien.jpeg" alt="" style="max-width: 100%;">
        </div>
      </div>
    </div>
  </div>
</div>
