<div class="group-detail-container w-100-pc pt-1 d-flex">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <div class="d-flex flex-lg-row-reverse flex-md-column flex-column w-100-pc">
    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 position-relative" style="height: fit-content;">
      <button class="btn-paging-news btn-paging-news__pre" (click)="preNews()"><i
          class="bi bi-arrow-left-circle"></i></button>
      <button class="btn-paging-news btn-paging-news__next" (click)="nextNews()"><i
          class="bi bi-arrow-right-circle"></i></button>
      <div class="main-group mt-3">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-4 col-sm-4 col-4 p-3 d-inline-flex"
          *ngFor="let news of listPostRecruitment">
          <div class="card-recruitment-news d-lg-flex d-md-none d-none">
            <!-- <div class="dropdown-container">
            <button class="card-recruitment-news__button-control dropdown-toggle" role="button" id="dropdownNewsControl"
              data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>

            <ul class="dropdown-menu" aria-labelledby="dropdownNewsControl">
              <li (click)="updateNews(news)"><a class="dropdown-item fs-5">{{'BUTTON.UPDATE'|translate}}</a></li>
              <li (click)="deleteNews(news)"><a class="dropdown-item fs-5">{{'BUTTON.DELETE'|translate}}</a></li>
            </ul>
          </div> -->
            <div class="card-recruitment-news__poster col-3">
              <img class="card-recruitment-news__poster-img" [src]="news.poster" alt="">
            </div>
            <div class="card-recruitment-news__info text-start col-9">
              <h3 class="card-recruitment-news__info-title">{{news?.title}}</h3>
              <h4 class="card-recruitment-news__info-company">{{news?.fullname}}</h4>
              <h5 class="card-recruitment-news__info-salary"><i class="bi bi-currency-dollar pe-3"></i>
                {{'POPUP.SALARY'|translate}}: {{news?.salary}}
              </h5>
              <h5 class="card-recruitment-news__info-location"><i class="bi bi-geo-alt-fill pe-3"></i>{{news?.location}}
              </h5>
              <h5 class="card-recruitment-news__info-experience"><i class="bi bi-award-fill pe-3"></i>
                {{isLangEn?objExperience[news.experience].nameEn:objExperience[news.experience].nameVi}}
              </h5>
              <h5 class="card-recruitment-news__info-position"><i class="bi bi-file-person pe-3"></i>
                {{news?.quantity}}
                &nbsp;·&nbsp;
                {{news?.position}}</h5>
              <h5><i class="bi bi-telephone-fill pe-3"></i><a class="pe-3">{{news.phone}}</a>
                <!-- <a (click)="goToChat(news)"><i class="bi bi-chat-dots pe-2"></i>Chat</a> -->
              </h5>
            </div>
          </div>

          <div class="card-recruitment-news pe-0 d-flex d-md-flex flex-column d-lg-none h-px-300">
            <!-- <div class="dropdown-container">
            <button class="card-recruitment-news__button-control dropdown-toggle" role="button" id="dropdownNewsControl"
              data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots"></i></button>

            <ul class="dropdown-menu" aria-labelledby="dropdownNewsControl">
              <li (click)="updateNews(news)"><a class="dropdown-item fs-5">{{'BUTTON.UPDATE'|translate}}</a></li>
              <li (click)="deleteNews(news)"><a class="dropdown-item fs-5">{{'BUTTON.DELETE'|translate}}</a></li>
            </ul>
          </div> -->
            <div class="card-recruitment-news__poster u-margin-auto w-100-pc" style="max-height: 20rem;">
              <img class="card-recruitment-news__poster-img" [src]="news.poster" alt="">
            </div>
            <div class="card-recruitment-news__info text-center pt-0">
              <h3 class="card-recruitment-news__info-title">{{news?.title}}</h3>
              <h4 class="card-recruitment-news__info-company">{{news?.fullname}}</h4>
              <!-- <h5 class="card-recruitment-news__info-salary"><i class="bi bi-currency-dollar pe-3"></i>
              {{'POPUP.SALARY'|translate}}: {{news?.salary}}
            </h5>
            <h5 class="card-recruitment-news__info-location"><i class="bi bi-geo-alt-fill pe-3"></i>{{news?.location}}
            </h5>
            <h5 class="card-recruitment-news__info-experience"><i class="bi bi-award-fill pe-3"></i>
              {{isLangEn?objExperience[news.experience].nameEn:objExperience[news.experience].nameVi}}
            </h5>
            <h5 class="card-recruitment-news__info-position"><i class="bi bi-file-person pe-3"></i>
              {{news?.quantity}}
              &nbsp;·&nbsp;
              {{news?.position}}</h5>
            <h5><i class="bi bi-telephone-fill pe-3"></i><a class="pe-3">{{news.phone}}</a>
               <a (click)="goToChat(news)"><i class="bi bi-chat-dots pe-2"></i>Chat</a> 
            </h5> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
      <div class="gr-de u-margin-auto">
        <div class="gr-de__list-post text-center">
          <div class="card-content mb-5" *ngFor="let post of listPost; let i = index">
            <div class="card-content__post-title d-flex">
              <div (click)="goToGroup(post)"
                class="position-relative col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-2 col-3"
                style="height: 60px; cursor: pointer;">
                <img class="image-group-nf position-absolute" style="top: 0; left: 0;" [src]="post.group.image" alt="">
                <img class="position-absolute image-avatar" style="bottom: -5px; right: 6px;" [src]="post.avatar"
                  alt="">
              </div>
              <div class="ps-3 col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-8 col-7 d-inline-block h-100-pc text-start">
                <h3 (click)="goToGroup(post)" style="cursor: pointer; display: inline-block;">{{post.group.nameEn}}</h3>
                <br>
                <h5 (click)="goToGroup(post)" style="cursor: pointer; display: inline-block;">
                  <strong>{{post.fullname}}</strong> -
                  {{post.createdDate | date:'HH:mm dd/MM/YYYY'}}</h5>
              </div>
              <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2 text-end">
                <button [ngClass]="post.author == userId?'opacity-100 visible':'opacity-0 invisible'"
                  class="btn-report col-2" (click)="updatePost(post, i)">
                  <i class="bi bi-pencil-square"></i></button>
                <button [ngClass]="post.author == userId?'opacity-100 visible':'opacity-0 invisible'"
                  class="btn-report col-4" (click)="deletePost(post._id, i)">
                  <i class="bi bi-trash3"></i></button>
                <button [ngClass]="post.author != userId?'opacity-100 visible':'opacity-0 invisible'"
                  class="btn-report col-2" (click)="report('post', post._id)">
                  <i class="bi bi-flag"></i></button>
              </div>
            </div>
            <hr class="mt-3 mb-2">
            <div class="card-content__post-content text-start">
              <div [innerHtml]="post?.content|safeHtml"></div>
            </div>
            <app-comment class="text-start" [countCmt]="post?.countCmt" [postId]="post._id"></app-comment>
          </div>
          <h2 *ngIf="!listPost?.length" class="text-center">
            {{'TITLE.NO_DATA'|translate}}
          </h2>
          <button *ngIf="page!=maxPage" class="btn-load-more"
            (click)="goToPage()">{{'BUTTON.LOAD_MORE'|translate}}</button>
        </div>
      </div>

    </div>


  </div>
</div>
