.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-dark, $color-primary-dark-2);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: yellow;
  letter-spacing: .3rem;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  cursor: pointer;
}

.component-title {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: #1d2025;
  font-family: 'Be Vietnam Pro', sans-serif;
  border-bottom: 1px solid grey;
  padding-bottom: .5rem;
}
