.u-center-text {
  text-align: center !important;
}

.u-right-text {
  text-align: right !important;
}

.u-margin-vertical-auto {
  margin: auto 0 !important;
}


.u-margin-horizontal-auto {
  margin: 0 auto !important;
}

.u-margin-auto {
  margin: auto !important;
}

.u-margin-right-big {
  margin-right: 10rem !important;
}

.u-margin-right-small {
  margin-right: 2rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-vertical-small {
  margin: 2rem 0 !important;
}

.u-padding-vertical-auto {
  padding: auto 0 !important;
}


.u-padding-horizontal-auto {
  padding: 0 auto !important;
}

.u-padding-auto {
  padding: auto !important;
}

.u-padding-right-2px {
  padding-right: 2px !important;
}

.u-padding-top-2rem {
  padding-top: 2rem !important;
}

.u-padding-left-2rem {
  padding-left: 2rem !important;
}


.h-100 {
  height: 100vh !important;
}

.h-header {
  height: 7.5rem !important;
}

.w-100 {
  width: 100vw !important;
}

.w-50 {
  width: 50vw !important;
}

.w-100-pc {
  width: 100% !important;
}

.w-px-500 {
  width: 500px !important;
}

.position-relative {
  position: relative !important;
}

.position-absolute {
  position: absolute !important;
}
