<div class="pt-3 ms-3 me-4 faculty-container">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <div class="d-flex control">
    <h1 class="ps-5 d-inline-block col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-3 col-3">
      {{'SIDEBAR.INFORMATION'|translate}}
    </h1>
    <div class="d-flex col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-9 col-19">
      <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-10 col-sm-10 col-10 u-margin-auto ">
        <form class="search__form u-margin-vertical-auto position-relative">
          <input class="search__form--input-search" type="text" name="search"
            placeholder="{{'SEARCH.SEARCH_INFOR'|translate}}" (keyup.enter)="searchUser()" [(ngModel)]="keyword">
          <button class="search__form--button-search position-absolute" type="submit"><i class="bi bi-search"
              (click)="searchUser()"></i></button>
        </form>
      </div>
      <div
        class="btn-create-group ps-3 pe-3 d-inline-block u-margin-auto col-xxl-3 col-xl-3 col-lg-3 col-md-2 col-sm-2 col-2">
        <button class="btn btn-outline-danger d-block d-lg-block d-sm-block d-xl-none"
          (click)="deleteMultipleAccount()"><i class="bi bi-trash3 fs-3"></i></button>
        <button class="btn btn-outline-danger d-xl-block fs-3 d-none text-center w-100-pc"
          (click)="deleteMultipleAccount()">
          <i class="bi bi-trash3 fs-3 ps-3 pe-3"></i>{{'POPUP.DELETE_ACCOUNT'|translate}}</button>
      </div>
    </div>
  </div>
  <div class="w-100-pc d-flex h-auto mt-3 mb-3 flex-row-reverse">
    <ng-select
      class="u-margin-vertical-auto d-inline-block ps-3 text-start col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-6 col-5"
      [searchable]="true" [clearable]="false" [(ngModel)]="groupId" (change)="filterFaculty()">
      <ng-option *ngFor="let faculty of listFaculty" [value]="faculty._id">
        {{isLangEn ? faculty.nameEn : faculty.nameVi}}
      </ng-option>
    </ng-select>
    <ng-select
      class="u-margin-vertical-auto d-inline-block pe-3 text-start col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-3 col-3"
      [searchable]="false" [clearable]="false" [(ngModel)]="roleId" (change)="filterRole()">
      <ng-option *ngFor="let role of listRole" [value]="role.roleId">
        {{isLangEn ? role.nameEn : role.nameVi}}
      </ng-option>
    </ng-select>
    <div
      class="form-check form-switch  ms-3 u-margin-vertical-auto col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-3 col-4">
      <input class="form-check-input fs-2 u-margin-auto" type="checkbox" role="switch" id="deleted"
        (click)="filterDeleted()">
      <label class="form-check-label fs-4 ms-3" for="deleted">{{'TITLE.DELETED'|translate}}</label>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-nowrap dt-responsive nowrap no-footer dtr-inline"
      style="width:100%">
      <thead>
        <tr class="text-center text-overflow font-size-15">
          <th>ID</th>
          <th>{{'TABLE.FULLNAME'|translate}}</th>
          <th>{{'TABLE.DOB'|translate}}</th>
          <th>{{'TABLE.PHONE'|translate}}</th>
          <th class="text-center">{{'TABLE.ACTION'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUsers; let i = index">
          <td class="text-center">{{user._id}}</td>
          <td class="text-center">{{user.fullname}}</td>
          <td class="text-center">{{user.dob|date:'dd-MM-YYY'}}</td>
          <td class="text-center">{{user.phone}}</td>
          <td class="text-center">
            <i *ngIf="!isDeleted" class="bi bi-pencil-square btn-delete me-3" (click)="updateAccount(user)"></i>
            <i *ngIf="!isDeleted" class="bi bi-trash3 btn-delete" (click)="deleteAccount(user)"></i>
            <i *ngIf="isDeleted" class="bi bi-bootstrap-reboot btn-delete" (click)="recoveryAccount(user)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <ngb-pagination [collectionSize]="maxPage" [maxSize]="5" [pageSize]="1" [rotate]="true"
      (pageChange)="goToPage($event)" [(page)]="page">
    </ngb-pagination>
  </div>
</div>
