<div class="form u-center-text position-relative">
  <a class="position-absolute button-text-cancel-modal" (click)="onClose()"><i class="bi bi-x"></i></a>
  <h3 class="u-margin-bottom-medium heading-primary">Forgot Password</h3>
  <input *ngIf="!isRequested" type="text" class="form-control u-margin-bottom-small" placeholder="Username">
  <p class="u-margin-bottom-small" *ngIf="isRequested">Please enter your OTP code send to your phone number:</p>
  <div class="position-relative u-margin-bottom-small">
    <input *ngIf="isRequested" type="number" class="form-control" placeholder="OTP">
    <a class="button-text position-absolute button-text-resend" *ngIf="isResendShow" (click)="resend()">Resend</a>
  </div>
  <p>{{timeOutClock}}</p>
  <button *ngIf="!isRequested" class="button u-margin-bottom-small u-margin-horizontal-auto" (click)="request()">request
    otp</button>
  <button *ngIf="isRequested" class="button u-margin-bottom-small u-margin-horizontal-auto"
    (click)="onClose()">confirm</button>
</div>
