<div class="form-popup">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <h3 class="u-center-text">{{title|translate}}</h3>
  <hr>
  <div class="button-control-group text-center mt-3">
    <button class="btn btn-outline-secondary fs-3 w-25 me-3" (click)="onCancel()">{{'BUTTON.CANCEL'|translate}}</button>
    <button class="btn btn-outline-primary fs-3 w-25" (click)="onDelete()">{{'BUTTON.SUBMIT'|translate}}</button>
  </div>
</div>
