<div class="container background-1 d-flex flex-row-reverse">
  <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 col-12 u-margin-vertical-auto">
    <div class="form u-center-text u-margin-horizontal-auto col-xl-6 col-lg-6 col-md-8 col-xm-10 col-12">
      <form (ngSubmit)="onSubmit(formSignIn);" #formSignIn="ngForm">
        <h3 class="u-margin-bottom-medium heading-primary">Social Network</h3>
        <input type="text" class="form-control u-margin-bottom-small" ngModel name="_id" placeholder="Username">
        <div class="d-flex position-relative u-margin-bottom-small">
          <input type="{{typeOfInputPass}}" class="form-control" ngModel name="password" placeholder="Password">
          <a (click)="showPass()" class="position-absolute btn-show-pass">
            <i class="bi {{iconShowPass}}"></i>
          </a>
        </div>
        <div class="w-100-pc text-end">
          <a class="button-text u-margin-bottom-small d-inline-block w-auto" (click)="forgotPass()">Forgot password?</a>
        </div>
        <button class="button u-margin-bottom-small u-margin-horizontal-auto">LOG IN</button>
      </form>
    </div>
  </div>
</div>
