<div class="form-popup">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <h2 class="text-center">{{'GROUP.ADD_MEMBER'|translate}}</h2>
  <div class="card-content">
    <form class="search__form text-center position-relative col-12" (ngSubmit)="search()">
      <input class="search__form--input-search search__form--input-search-sub" [(ngModel)]="searchString" type="text"
        name="search" placeholder="{{'SEARCH.SEARCH_USER'|translate}}">
      <button class="search__form--button-search position-absolute" type="submit"><i class="bi bi-search"></i></button>
    </form>
  </div>
  <div class="member-tab text-start">
    <hr>
    <h4>{{'GROUP.MEMBERS2'|translate}} - {{totalMember}}</h4>
    <div class="card-user d-flex mt-2 mb-2" *ngFor="let member of listMember">
      <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
        <img [src]="member.avatar" alt="">
      </div>
      <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 text-start">
        <h4>{{member.fullname}}</h4>
        <h5>{{member.address}}</h5>
      </div>
      <div class="btn-group col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
        <button class="btn btn-outline-primary w-50 fs-5 d-inline-block" (click)="addUser(member)">
          <i class="bi bi-person-plus"></i>
        </button>
      </div>
    </div>


    <h5 class="btn-text" *ngIf="pageUser!=maxPageUser" (click)="goToPageUser()">{{'BUTTON.LOAD_MORE'|translate}}</h5>
  </div>
</div>
