<div class="pt-3 ms-3 me-4 faculty-container">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <div class="d-flex control">
    <h1 class="ps-5 d-inline-block col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-6 col-6">
      {{'TITLE.REPORT_POST'|translate}}
    </h1>
    <ng-select
      class="u-margin-vertical-auto d-inline-block text-start mb-4 col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4"
      [searchable]="true" [clearable]="false" [(ngModel)]="groupId" (change)="filterGroup()">
      <ng-option *ngFor="let group of listGroup" [value]="group._id">
        {{group.nameVi}}
      </ng-option>
    </ng-select>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-nowrap dt-responsive nowrap no-footer dtr-inline">
      <thead>
        <tr class="text-center text-overflow font-size-15">
          <th scope="col">{{'TABLE.CONTENT'|translate}}</th>
          <th class="ps-3 pe-3" scope="col">{{'TABLE.COUNT_COMMENT'|translate}}</th>
          <th class="ps-3 pe-3" scope="col" *ngFor="let report of listTypeReport">
            {{isLangEn ? report.nameEn : report.nameVi}}</th>
          <th scope="col" class="text-center">{{'TABLE.ACTION'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of listReportPost; let i = index">
          <td>
            <div [innerHtml]="post.content|slice:0:100"></div>
          </td>
          <td class="text-center">{{post.countComment}}</td>
          <td class="text-center" *ngFor="let rp of post.report">{{rp.count}}</td>
          <td class="text-center"><i class="bi bi-trash btn-edit" (click)="deletePost(post.postId)"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <ngb-pagination [collectionSize]="maxPage" [maxSize]="5" [pageSize]="1" [rotate]="true"
      (pageChange)="goToPage($event)" [(page)]="page">
    </ngb-pagination>
  </div>
</div>
