<div class="form-popup">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <h3 class="u-center-text">{{'POPUP.UPDATE_USER_INFO'|translate}}</h3>
  <hr>
  <form class="mt-4" [formGroup]="userInfoForm">
    <input class="form-control-bs w-100-pc mb-4 fs-2" readonly type="text" placeholder="Id..." formControlName="_id">
    <input class="form-control-bs w-100-pc mb-4 fs-2" [autofocus]="true" type="text"
      placeholder="{{'TABLE.FULLNAME'|translate}}" formControlName="fullname">
    <input *ngIf="!isCompany" class="form-control-bs w-100-pc mb-4 fs-2" type="date"
      placeholder="{{'TABLE.DOB'|translate}}" formControlName="dob">
    <input class="form-control-bs w-100-pc mb-4 fs-2" type="text" placeholder="{{'TABLE.ADDRESS'|translate}}"
      formControlName="address">
    <input class="form-control-bs w-100-pc mb-4 fs-2" type="text" placeholder="{{'TABLE.PHONE'|translate}}"
      formControlName="phone">
    <input *ngIf="!isCompany" class="form-control-bs w-100-pc mb-4 fs-2" readonly type="number"
      placeholder="{{'TABLE.YAER'|translate}}" formControlName="year">
    <textarea *ngIf="isCompany" class="form-register__form-control__area w-100-pc" type="text" rows="7"
      formControlName="description" placeholder="{{'TABLE.DESCRIPTION'|translate}}"></textarea>
  </form>
  <hr>
  <div class="button-control-group text-end mt-3">
    <button class="btn btn-outline-secondary fs-3 w-25 me-3" (click)="onCancel()">{{'BUTTON.CANCEL'|translate}}</button>
    <button class="btn btn-outline-primary fs-3 w-25" (click)="onSubmit()">{{'BUTTON.SUBMIT'|translate}}</button>
  </div>
</div>
