<div class="incoming-call position-relative">
  <h1 class="color-white text-center pt-5">Cuộc gọi đến</h1>
  <div class="receiver-info position-absolute-center" style="transform: translate(-60%, -60%);">
    <img class="receiver-info__avatar u-margin-auto col-12" [src]="profile?.avatar" alt="">
    <h2 class="color-white d-inline col-12 text-center">{{profile.fullname}}</h2>
    <h5 class="color-white text-center">Đang gọi</h5>
  </div>
  <div class="control-bar">

    <button class="control-bar__button background-color-red" (click)="reject()">
      <i class="bi bi-telephone-x-fill"></i></button>
    <button class="control-bar__button background-color-green" (click)="accept()">
      <i class="bi bi-telephone-fill"></i></button>
  </div>
</div>
