<div class="sidebar position-fixed">
  <div class="">
    <div class="btn-group w-100-pc">
      <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" [routerLink]="['index']">
        <i class="bi bi-house-door"></i>
      </button>
      <button class="button-sidebar d-lg-block d-none" [routerLink]="['index']">Home</button>
    </div>
    <div class="btn-group w-100-pc">
      <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none"><i class="bi bi-person"></i></button>
      <button class="button-sidebar d-lg-block d-none">Friends</button>
    </div>
    <div class="btn-group w-100-pc">
      <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" [routerLink]="['group']">
        <i class="bi bi-people"></i>
      </button>
      <button class="button-sidebar d-lg-block d-none" [routerLink]="['group']">Groups</button>
    </div>
    <div class="btn-group w-100-pc">
      <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" [routerLink]="['chat']">
        <i class="bi bi-chat-dots"></i>
      </button>
      <button class="button-sidebar d-lg-block d-none" [routerLink]="['chat']">Chat</button>
    </div>
    <input class="d-none cb-manage-dropdown" type="checkbox" [checked]="isDropdown">
    <div *ngIf="isAdmin" class="btn-group-dropdown text-start w-100-pc">
      <!-- button dropdown -->
      <div class="btn-group w-100-pc">
        <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" (click)="dropdown($event)">
          <i class="bi bi-sliders"></i>
        </button>
        <button class="button-sidebar d-lg-block d-none" (click)="dropdown($event)">Manage</button>
      </div>
      <!-- button account dropdown -->
      <input class="d-none cb-account-dropdown" type="checkbox" [checked]="isAccountDropdown">
      <div class="btn-account-dropdown text-start">
        <div class="btn-group w-100-pc">
          <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" (click)="accountDropdown($event)">
            <i class="bi bi-people"></i>
          </button>
          <button class="button-sidebar-text text-start d-lg-block d-none" (click)="accountDropdown($event)">Account
            <i [class]="arrowAccount"></i></button>
        </div>
        <!-- group button -->
        <div class="w-100-pc text-start">
          <div class="btn-group w-75 ps-3 ">
            <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" [routerLink]="['sign-up']">
              <i class="bi bi-plus-square-dotted"></i>
            </button>
            <button class="button-sidebar-text text-start ps-5 d-lg-block d-none"
              [routerLink]="['sign-up']">Register</button>
          </div>
          <div class="btn-group w-75 ps-3 ">
            <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" [routerLink]="['sign-up']">
              <i class="bi bi-plus-square-dotted"></i>
            </button>
            <button class="button-sidebar-text text-start ps-5 d-lg-block d-none"
              [routerLink]="['sign-up']">Users</button>
          </div>
        </div>
      </div>

      <!-- button faculty -->
      <div class="btn-faculty-dropdown text-start">
        <div class="btn-group w-100-pc">
          <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" [routerLink]="['faculty']">
            <i class="bi bi-people"></i>
          </button>
          <button class="button-sidebar-text text-start d-lg-block d-none" [routerLink]="['faculty']">Faculty</button>
        </div>
      </div>

      <!-- button category -->
      <div class="btn-category-dropdown text-start">
        <div class="btn-group w-100-pc">
          <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none">
            <i class="bi bi-people"></i>
          </button>
          <button class="button-sidebar-text text-start d-lg-block d-none">Category</button>
        </div>
      </div>

      <!-- button report dropdown -->
      <input class="d-none cb-report-dropdown" type="checkbox" [checked]="isReportDropdown">
      <div class="btn-report-dropdown text-start">
        <div class="btn-group w-100-pc">
          <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" (click)="reportDropdown($event)">
            <i class="bi bi-people"></i>
          </button>
          <button class="button-sidebar-text text-start d-lg-block d-none" (click)="reportDropdown($event)">Report
            <i [class]="arrowReport"></i></button>
        </div>
        <!-- group button -->
        <div class="w-100-pc text-start">
          <div class="btn-group w-75 ps-3 ">
            <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" [routerLink]="['sign-up']">
              <i class="bi bi-plus-square-dotted"></i>
            </button>
            <button class="button-sidebar-text text-start ps-5 d-lg-block d-none"
              [routerLink]="['sign-up']">Groups</button>
          </div>
          <div class="btn-group w-75 ps-3 ">
            <button class="button-sidebar d-block d-md-block d-sm-block d-lg-none" [routerLink]="['sign-up']">
              <i class="bi bi-plus-square-dotted"></i>
            </button>
            <button class="button-sidebar-text text-start ps-5 d-lg-block d-none"
              [routerLink]="['sign-up']">Posts</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
