<aside class="app-sidebar">
  <!-- Sidebar Header -->
  <div class="app-sidebar__header">
    <a class="app-sidebar__logo" [routerLink]="['index']">
      <img src="../../assets/img/logo.png" alt="HCMUTE Network">
    </a>
    <h3 class="app-sidebar__title d-none d-xl-block" (click)="redirectTo('index')">HCMUTE NETWORK</h3>
  </div>

  <!-- Navigation -->
  <nav class="app-sidebar__nav">
    <ul class="app-sidebar__list">
      <!-- Home -->
      <li class="app-sidebar__item">
        <a
          class="app-sidebar__link"
          [class.app-sidebar__link--active]="mainActive === 'index'"
          (click)="redirectTo('index')"
          [routerLink]="['index']"
        >
          <i class="bi bi-house-door"></i>
          <span class="app-sidebar__text">{{'SIDEBAR.HOME'|translate}}</span>
        </a>
      </li>

      <!-- News Feed -->
      <li class="app-sidebar__item">
        <a
          class="app-sidebar__link"
          [class.app-sidebar__link--active]="mainActive === 'new-feed'"
          (click)="redirectTo('new-feed')"
          [routerLink]="['new-feed']"
        >
          <i class="bi bi-newspaper"></i>
          <span class="app-sidebar__text">{{'SIDEBAR.NEW_FEED'|translate}}</span>
        </a>
      </li>

      <!-- Groups -->
      <li class="app-sidebar__item">
        <a
          class="app-sidebar__link"
          [class.app-sidebar__link--active]="mainActive === 'group'"
          (click)="redirectTo('group')"
          [routerLink]="['group']"
        >
          <i class="bi bi-people"></i>
          <span class="app-sidebar__text">{{'SIDEBAR.GROUPS'|translate}}</span>
        </a>
      </li>

      <!-- Enterprise -->
      <li class="app-sidebar__item">
        <a
          class="app-sidebar__link"
          [class.app-sidebar__link--active]="mainActive === 'enterprise'"
          (click)="redirectTo('enterprise')"
          [routerLink]="['enterprise']"
        >
          <i class="bi bi-briefcase"></i>
          <span class="app-sidebar__text">{{'SIDEBAR.ENTERPRISE'|translate}}</span>
        </a>
      </li>
    </ul>

    <!-- Management Section (Admin/Dean only) -->
    <div *ngIf="isAdmin || isDean">
      <div class="app-sidebar__divider"></div>

      <ul class="app-sidebar__list">
        <!-- Manage Dropdown -->
        <li class="app-sidebar__item app-sidebar__item--has-submenu">
          <button
            class="app-sidebar__link app-sidebar__link--button"
            [class.app-sidebar__link--active]="mainActive === 'manage'"
            [class.app-sidebar__link--expanded]="isDropdown"
            (click)="dropdown($event); redirectTo('manage')"
            type="button"
            attr.aria-expanded="{{isDropdown}}"
          >
            <i class="bi bi-sliders"></i>
            <span class="app-sidebar__text">{{'SIDEBAR.MANAGE'|translate}}</span>
            <i class="app-sidebar__arrow bi bi-chevron-down"></i>
          </button>

          <!-- Submenu: Users -->
          <ul class="app-sidebar__submenu" [class.app-sidebar__submenu--open]="isDropdown">
            <li class="app-sidebar__item">
              <button
                class="app-sidebar__sublink"
                [class.app-sidebar__sublink--active]="subActive === 'account'"
                (click)="accountDropdown($event)"
                type="button"
                attr.aria-expanded="{{isAccountDropdown}}"
              >
                <i class="bi bi-person-rolodex"></i>
                <span class="app-sidebar__text">{{'SIDEBAR.USERS'|translate}}</span>
                <i class="app-sidebar__arrow bi bi-chevron-down"></i>
              </button>

              <ul class="app-sidebar__submenu" [class.app-sidebar__submenu--open]="isAccountDropdown">
                <li class="app-sidebar__item" *ngIf="isAdmin">
                  <a
                    class="app-sidebar__sublink"
                    [class.app-sidebar__sublink--active]="sub2Active === 'sign-up'"
                    (click)="redirectSubMenuTo('sign-up',2)"
                  >
                    <span class="app-sidebar__text">{{'SIDEBAR.REGISTER'|translate}}</span>
                  </a>
                </li>
                <li class="app-sidebar__item">
                  <a
                    class="app-sidebar__sublink"
                    [class.app-sidebar__sublink--active]="sub2Active === 'users'"
                    (click)="redirectSubMenuTo('users',2)"
                  >
                    <span class="app-sidebar__text">{{'SIDEBAR.MEMBERS'|translate}}</span>
                  </a>
                </li>
                <li class="app-sidebar__item">
                  <a
                    class="app-sidebar__sublink"
                    [class.app-sidebar__sublink--active]="sub2Active === 'account'"
                    (click)="redirectSubMenuTo('account',2)"
                  >
                    <span class="app-sidebar__text">{{'SIDEBAR.INFORMATION'|translate}}</span>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Submenu: Enterprise (Admin only) -->
            <li class="app-sidebar__item" *ngIf="!isDean">
              <button
                class="app-sidebar__sublink"
                [class.app-sidebar__sublink--active]="subActive === 'sub-enterprise'"
                (click)="enterpriseDropdown($event)"
                type="button"
                attr.aria-expanded="{{isEnterpriseDropdown}}"
              >
                <i class="bi bi-briefcase"></i>
                <span class="app-sidebar__text">{{'SIDEBAR.ENTERPRISE'|translate}}</span>
                <i class="app-sidebar__arrow bi bi-chevron-down"></i>
              </button>

              <ul class="app-sidebar__submenu" [class.app-sidebar__submenu--open]="isEnterpriseDropdown">
                <li class="app-sidebar__item" *ngIf="isAdmin">
                  <a
                    class="app-sidebar__sublink"
                    [class.app-sidebar__sublink--active]="sub2Active === 'register-enterprise'"
                    (click)="redirectSubMenuTo('register-enterprise',2)"
                  >
                    <span class="app-sidebar__text">{{'SIDEBAR.REGISTER'|translate}}</span>
                  </a>
                </li>
                <li class="app-sidebar__item">
                  <a
                    class="app-sidebar__sublink"
                    [class.app-sidebar__sublink--active]="sub2Active === 'recruitment-news'"
                    (click)="redirectSubMenuTo('recruitment-news',2)"
                  >
                    <span class="app-sidebar__text">{{'SIDEBAR.RECRUITMENT'|translate}}</span>
                  </a>
                </li>
              </ul>
            </li>

            <!-- Faculty (Admin only) -->
            <li class="app-sidebar__item" *ngIf="isAdmin">
              <a
                class="app-sidebar__sublink"
                [class.app-sidebar__sublink--active]="subActive === 'faculty'"
                (click)="redirectSubMenuTo('faculty',1)"
              >
                <i class="bi bi-building"></i>
                <span class="app-sidebar__text">{{'SIDEBAR.FACULTY'|translate}}</span>
              </a>
            </li>

            <!-- Category (Admin only) -->
            <li class="app-sidebar__item" *ngIf="isAdmin">
              <a
                class="app-sidebar__sublink"
                [class.app-sidebar__sublink--active]="subActive === 'category'"
                (click)="redirectSubMenuTo('category',1)"
              >
                <i class="bi bi-tags"></i>
                <span class="app-sidebar__text">{{'SIDEBAR.CATEGORY'|translate}}</span>
              </a>
            </li>

            <!-- Reports -->
            <li class="app-sidebar__item">
              <button
                class="app-sidebar__sublink"
                [class.app-sidebar__sublink--active]="subActive === 'report'"
                (click)="reportDropdown($event)"
                type="button"
                attr.aria-expanded="{{isReportDropdown}}"
              >
                <i class="bi bi-flag"></i>
                <span class="app-sidebar__text">{{'SIDEBAR.REPORT'|translate}}</span>
                <i class="app-sidebar__arrow bi bi-chevron-down"></i>
              </button>

              <ul class="app-sidebar__submenu" [class.app-sidebar__submenu--open]="isReportDropdown">
                <li class="app-sidebar__item" *ngIf="isAdmin">
                  <a
                    class="app-sidebar__sublink"
                    [class.app-sidebar__sublink--active]="sub2Active === 'report/group'"
                    (click)="redirectSubMenuTo('report/group',2)"
                  >
                    <span class="app-sidebar__text">{{'SIDEBAR.GROUPS'|translate}}</span>
                  </a>
                </li>
                <li class="app-sidebar__item">
                  <a
                    class="app-sidebar__sublink"
                    [class.app-sidebar__sublink--active]="sub2Active === 'report/post'"
                    (click)="redirectSubMenuTo('report/post',2)"
                  >
                    <span class="app-sidebar__text">{{'SIDEBAR.POSTS'|translate}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</aside>
