.home-container {
  background-color: #fff;
}

.sub-navigation{
  padding-left: 3rem;
  display: flex;
  &__background{
    cursor: pointer;
    background-color: #fff;
    padding-right: 2px;
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
    display: inline-flex;
    width: fit-content;
    margin-left: -2rem;
  }
  &__item{
    margin: auto 0;
    font-size: 1.4rem;
    color: #fff;
    background-color: #263059;
    padding: 2px 3rem;
    clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  }
}

app-header {
  z-index: 999;
}

app-sidebar {
  visibility: hidden;
  opacity: 0;
  width: 0;
  transition: width .2s;
}

.home-container{
  width: 99vw;
  transition: all .2s;
}

app-header {
  width: 100vw;
  transition: all .2s;
}

.sidebar-container {
  width: 0;
  transition: width .2s;
}

.cb-sidebar {
  display: none;

  &:checked~.sidebar-container {
    width: 16.67% !important;

  }

  &:checked~.sidebar-container>app-sidebar {
    width: 100%;
    visibility: visible;
    opacity: 1;
  }

  &:checked~.home-container {
    width: 83.33%;
  }
  &:checked~.home-container >app-header{
    width: 83.33%;
  }

  &:checked~.button-control-sidebar {
    left: 16.6%;
    top: 50%;


    fa-icon {
      cursor: pointer;
      color: $color-primary-dark-2;
      font-size: 2rem;
    }
  }
}
