<div class="pt-3 ms-3 me-4 faculty-container min-h-sub">
  <ngx-spinner bdColor=" rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <div class="d-flex control mb-3">
    <h1 class="ps-5 d-inline-block col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4">{{'TITLE.USERS'|translate}}
    </h1>
    <div class="d-flex col-xxl-10 col-xl-10 col-lg-9 col-md-9 col-sm-8 col-8">
      <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-11 col-sm-11 col-11 u-margin-auto ">
        <form class="search__form u-margin-vertical-auto position-relative">
          <input class="search__form--input-search" type="text" name="search"
            placeholder="{{'SEARCH.SEARCH_INFOR'|translate}}" (keyup.enter)="searchUser()" [(ngModel)]="keyword">
          <button class="search__form--button-search position-absolute" type="submit"><i class="bi bi-search"
              (click)="searchUser()"></i></button>
        </form>
      </div>
      <div
        class="btn-create-group ps-3 pe-3 d-inline-block u-margin-auto col-xxl-3 col-xl-3 col-lg-3 col-md-2 col-sm-2 col-2">
        <button class="btn btn-outline-primary d-block d-lg-block d-sm-block d-xl-none"
          (click)="updateStudentToAlumni()"><i class="bi bi-arrow-left-right fs-3"></i></button>
        <button class="btn btn-outline-primary d-xl-block fs-5 d-none text-center w-100-pc"
          (click)="updateStudentToAlumni()">
          <i class="bi bi-arrow-left-right fs-3 ps-3 pe-3"></i>{{'POPUP.UPDATE_STUDENT_ALUMNI'|translate}}</button>
      </div>
    </div>
  </div>
  <div class="w-100-pc d-flex flex-row-reverse">
    <ng-select
      class="u-margin-vertical-auto d-inline-block text-start mb-4 col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6"
      [searchable]="false" [clearable]="false" [(ngModel)]="groupId" (change)="filterFaculty()">
      <ng-option *ngFor="let faculty of listFaculty" [value]="faculty._id">
        {{isLangEn ? faculty.nameEn : faculty.nameVi}}
      </ng-option>
    </ng-select>
    <div
      class="form-check form-switch  ms-3 u-margin-vertical-auto col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4">
      <input class="form-check-input fs-2 u-margin-auto" type="checkbox" role="switch" id="student"
        (click)="filterStudent()">
      <label class="form-check-label fs-4 ms-3" for="student">{{'TITLE.STUDENT'|translate}}</label>
    </div>
  </div>
  <table class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>{{'TABLE.FULLNAME'|translate}}</th>
        <th>{{'TABLE.DOB'|translate}}</th>
        <th>{{'TABLE.PHONE'|translate}}</th>
        <th class="text-center">{{'TABLE.ACTION'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listUsers; let i = index">
        <td>{{user.userId}}</td>
        <td>{{user.fullname}}</td>
        <td>{{user.dob|date:'dd-MM-YYY'}}</td>
        <td>{{user.phone}}</td>
        <td class="text-center">
          <i class="bi bi-arrow-left-right btn-delete ms-3" (click)="transferFaculty(user, i)"
            *ngIf="isAdmin||isDean"></i>
        </td>
      </tr>
      <tr *ngIf="!listUsers?.length" class="text-center">
        <td colspan="5" class="fs-2">{{'TITLE.NO_DATA'|translate}}</td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <ngb-pagination [collectionSize]="maxPage" [maxSize]="5" [pageSize]="1" [rotate]="true"
      (pageChange)="goToPage($event)" [(page)]="page">
    </ngb-pagination>
  </div>
</div>
