.button {

  &,
  &:link,
  &:visited {
    display: block;
    background-color: $color-primary;
    border-radius: 100px;
    border: none;
    height: 40px;
    width: 50%;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(0);
  }
}

.button-text {

  &,
  &:link,
  &:visited {
    font-size: 0.9rem;
    font-weight: bold;
    display: block;
    border: none;
    text-align: right;
    background-color: transparent;
    width: 100%;
    color: $color-blue-link;
    cursor: pointer;
    text-decoration: none;
  }

  &:hover {
    background-color: transparent;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  &-resend {
    width: fit-content;
    top: 7px;
    right: 4px;
  }

  &-cancel-modal {
    top: -10px;
    right: 5px;
    cursor: pointer;
  }
}
