.form {
  padding: 3rem;
  border-radius: .5rem;
  background-color: $color-white;
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.2);

  &-control {
    padding: .6rem 2rem;
    border: none;
    border-bottom: .3rem solid $color-primary;
    font-size: 2rem;
    // font-weight: 700;

    &:focus {
      outline: 0 none;
      -webkit-appearance: none;
      box-shadow: none;
      border-bottom: .2rem solid $color-primary-dark-2;
    }
  }
}

.search__form {
  width: 90%;
  padding-left: 2rem;

  &--input-search {
    height: 4rem;
    width: 100%;
    padding: 0 2.5rem;
    background-color: #f3f0f0;
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;

    &-sub {
      background-color: #fff;
      border: solid .1rem black;
    }
  }

  &--button-search {
    background-color: transparent;
    border: none;
    top: 0;
    right: .6rem;

    i {
      font-size: 2.8rem;
    }
  }
}
