.form {
  padding: 3rem;
  border-radius: .5rem;
  background-color: $color-white;
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.2);

  &-control {
    padding: .6rem 2rem;
    border: none;
    border-bottom: .3rem solid $color-primary;
    font-size: 2rem;
    // font-weight: 700;

    &:focus {
      outline: 0 none;
      -webkit-appearance: none;
      box-shadow: none;
      border-bottom: .2rem solid $color-primary-dark-2;
    }
  }
}
