<div class="pt-3 ms-3 me-4 index-container">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <div *ngIf="!isAlumni" class="main-group">
    <h2 class="ps-3">{{'HOME.MAIN_NOTIFICATION'|translate}}</h2>
    <hr>
    <!-- <iframe height="430" width="350" src="https://bot.dialogflow.com/9d15600f-d0ba-4d2b-a3fa-37483ee760d1"></iframe> -->

    <div *ngIf="isAdmin">
      <h3 class="ps-5 d-inline-block col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-9 col-9">
        {{'HOME.TEACHER'|translate}}</h3>
      <div class="btn-create-group d-inline-block col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
        <button class="btn btn-outline-primary me-4 d-none d-lg-block" (click)="createPost('grgv',true,false)">
          {{'BUTTON.CREATE_POST'|translate}}
        </button>
        <button class="btn btn-outline-primary me-4 d-block d-lg-none">
          <i class="bi bi-pencil-square fs-lg"></i>
        </button>
      </div>
      <hr>
    </div>
    <div class="main-teacher" *ngIf="isAdmin || isDean || isTeacher">
      <div class="post d-flex pt-3 pb-3" *ngFor="let post of listMainTeacherPost"
        (click)="goToDetailPost(post?._id); readPost(post.notifyId)">
        <div class="post__auth d-flex col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-2 col-3">
          <div class="post__auth-avatar ps-3 pe-3">
            <img [src]="post?.avatar" alt="">
          </div>
          <div class="post__auth-info u-margin-vertical-auto d-md-block d-sm-none d-none">
            <span class="post__auth-info__id">{{post?.author}} - </span>
            <span class="post__auth-info__fullname">{{post?.fullname}}</span>
            <h6 class="mt-2">{{post?.createdDate | date: 'HH:mm'}} - {{post?.createdDate | date: 'dd/MM'}}</h6>
          </div>
        </div>
        <div class="post__info u-margin-vertical-auto col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-9">
          <div class="post__auth-info d-sm-block d-md-none">
            <span class="post__auth-info__id">{{post?.author}} - </span>
            <span class="post__auth-info__fullname">{{post?.fullname}}</span>
          </div>
          <div class="post__info-title">
            <h4 [ngClass]="post.isRead ? 'color-grey' : 'color-black'">{{post?.title}}</h4>
          </div>
        </div>
      </div>
      <h2 *ngIf="!listMainTeacherPost?.length" class="text-center">
        {{'TITLE.NO_DATA'|translate}}
      </h2>
      <div class="pagination">
        <ngb-pagination [collectionSize]="totalMainTeacher" [maxSize]="5" [pageSize]="1" [rotate]="true"
          (pageChange)="goToPage('mainTeacher',$event)" [(page)]="pageMainTeacher">
        </ngb-pagination>
      </div>
    </div>

    <div *ngIf="isAdmin">
      <hr>
      <h3 class="ps-5 mt-3  d-inline-block col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-9 col-9">
        {{'HOME.STUDENT'|translate}}</h3>
      <div class="btn-create-group d-inline-block col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
        <button class="btn btn-outline-primary me-4 d-none d-lg-block" (click)="createPost('grsv',true,true)">
          {{'BUTTON.CREATE_POST'|translate}}
        </button>
        <button class="btn btn-outline-primary me-4 d-block d-lg-none">
          <i class="bi bi-pencil-square fs-lg"></i>
        </button>
      </div>
      <hr>
    </div>
    <div class="main-student" *ngIf="isAdmin || isStudent">
      <div class="post d-flex pt-3 pb-3" *ngFor="let post of listMainStudentPost"
        (click)="goToDetailPost(post?._id); readPost(post.notifyId)">
        <div class="post__auth d-flex col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-2 col-3">
          <div class="post__auth-avatar ps-3 pe-3">
            <img [src]="post?.avatar" alt="">
          </div>
          <div class="post__auth-info u-margin-vertical-auto d-md-block d-sm-none d-none">
            <span class="post__auth-info__id">{{post?.author}} - </span>
            <span class="post__auth-info__fullname">{{post?.fullname}}</span>
            <h6 class="mt-2">{{post?.createdDate | date: 'HH:mm'}} - {{post?.createdDate | date: 'dd/MM'}}</h6>
          </div>
        </div>
        <div class="post__info u-margin-vertical-auto col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-9">
          <div class="post__auth-info d-sm-block d-md-none">
            <span class="post__auth-info__id">{{post?.author}} - </span>
            <span class="post__auth-info__fullname">{{post?.fullname}}</span>
          </div>
          <div class="post__info-title">
            <h4 [ngClass]="post.isRead ? 'color-grey' : 'color-black'">{{post?.title}}</h4>
          </div>
        </div>
      </div>
      <h2 *ngIf="!listMainStudentPost?.length" class="text-center">
        {{'TITLE.NO_DATA'|translate}}
      </h2>
      <div class="pagination">
        <ngb-pagination [collectionSize]="totalMainStudent" [maxSize]="5" [pageSize]="1" [rotate]="true"
          (pageChange)="goToPage('mainStudent',$event)" [(page)]="pageMainStudent">
        </ngb-pagination>
      </div>
    </div>
  </div>

  <div class="main-group mt-5">

    <h2 class="ps-3 d-inline-block col-xxl-9 col-xl-9 col-lg-7 col-md-6 col-sm-6 col-6">
      {{"HOME.FACULTY_NOTIFICATION"|translate}}</h2>
    <ng-select class="d-inline-block col-xxl-3 col-xl-3 col-lg-5 col-md-6 col-sm-6 col-6" [searchable]="true"
      [(ngModel)]="faculty" [clearable]="false" (change)="filterFaculty()" *ngIf="isAdmin">
      <ng-option *ngFor="let faculty of listFaculty" [value]="faculty._id">{{isLangEn?faculty.nameEn:faculty.nameVi}}
      </ng-option>
    </ng-select>
    <hr>

    <div *ngIf="isAdmin || isDean">
      <h3 class="ps-5 d-inline-block col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-9 col-9">
        {{'HOME.TEACHER'|translate}}</h3>
      <div class="btn-create-group d-inline-block col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
        <button class="btn btn-outline-primary me-4 d-none d-lg-block" (click)="createPost(faculty, true, false)">
          {{'BUTTON.CREATE_POST'|translate}}
        </button>
        <button class="btn btn-outline-primary me-4 d-block d-lg-none">
          <i class="bi bi-pencil-square fs-lg"></i>
        </button>
      </div>
      <hr>
    </div>
    <div class="faculty-teacher" *ngIf="isAdmin || isDean || isTeacher">
      <div class="post d-flex pt-3 pb-3" *ngFor="let post of listFacultyTeacherPost"
        (click)="goToDetailPost(post?._id); readPost(post.notifyId)">
        <div class="post__auth d-flex col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-2 col-3">
          <div class="post__auth-avatar ps-3 pe-3">
            <img [src]="post?.avatar" alt="">
          </div>
          <div class="post__auth-info u-margin-vertical-auto d-md-block d-sm-none d-none">
            <span class="post__auth-info__id">{{post?.author}} - </span>
            <span class="post__auth-info__fullname">{{post?.fullname}}</span>
            <h6 class="mt-2">{{post?.createdDate | date: 'HH:mm'}} - {{post?.createdDate | date: 'dd/MM'}}</h6>
          </div>
        </div>
        <div class="post__info u-margin-vertical-auto col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-9">
          <div class="post__auth-info d-sm-block d-md-none">
            <span class="post__auth-info__id">{{post?.author}} - </span>
            <span class="post__auth-info__fullname">{{post?.fullname}}</span>
          </div>
          <div class="post__info-title">
            <h4 [ngClass]="post.isRead ? 'color-grey' : 'color-black'">{{post?.title}}</h4>
          </div>
        </div>
      </div>
      <h2 *ngIf="!listFacultyTeacherPost?.length" class="text-center">
        {{'TITLE.NO_DATA'|translate}}
      </h2>
      <div class="pagination">
        <ngb-pagination [collectionSize]="totalFacultyTeacher" [maxSize]="5" [pageSize]="1" [rotate]="true"
          (pageChange)="goToPage('facultyTeacher',$event)" [(page)]="pageFacultyTeacher">
        </ngb-pagination>
      </div>
    </div>

    <div *ngIf="isAdmin || isDean">
      <hr>
      <h3 class="ps-5 mt-3 d-inline-block col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-9 col-9">
        {{'HOME.STUDENT'|translate}}</h3>
      <div class="btn-create-group d-inline-block col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
        <button class="btn btn-outline-primary me-4 d-none d-lg-block" (click)="createPost(faculty, true, true)">
          {{'BUTTON.CREATE_POST'|translate}}
        </button>
        <button class="btn btn-outline-primary me-4 d-block d-lg-none">
          <i class="bi bi-pencil-square fs-lg"></i>
        </button>
      </div>
      <hr>
    </div>
    <div class="faculty-student" *ngIf="isAdmin || isDean || isStudent">
      <div class="post d-flex pt-3 pb-3" *ngFor="let post of listFacultyStudentPost"
        (click)="goToDetailPost(post?._id); readPost(post.notifyId)">
        <div class="post__auth d-flex col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-2 col-3">
          <div class="post__auth-avatar ps-3 pe-3">
            <img [src]="post?.avatar" alt="">
          </div>
          <div class="post__auth-info u-margin-vertical-auto d-md-block d-sm-none d-none">
            <span class="post__auth-info__id">{{post?.author}} - </span>
            <span class="post__auth-info__fullname">{{post?.fullname}}</span>
            <h6 class="mt-2">{{post?.createdDate | date: 'HH:mm'}} - {{post?.createdDate | date: 'dd/MM'}}</h6>
          </div>
        </div>
        <div class="post__info u-margin-vertical-auto col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-10 col-9">
          <div class="post__auth-info d-sm-block d-md-none">
            <span class="post__auth-info__id">{{post?.author}} - </span>
            <span class="post__auth-info__fullname">{{post?.fullname}}</span>
          </div>
          <div class="post__info-title">
            <h4 [ngClass]="post.isRead ? 'color-grey' : 'color-black'">{{post?.title}}</h4>
          </div>
        </div>
      </div>
      <h2 *ngIf="!listFacultyStudentPost?.length" class="text-center">
        {{'TITLE.NO_DATA'|translate}}
      </h2>
      <div class="pagination">
        <ngb-pagination [collectionSize]="totalFacultyStudent" [maxSize]="5" [pageSize]="10" [rotate]="true"
          (pageChange)="goToPage('facultyStudent',$event)" [(page)]="pageFacultyStudent">
        </ngb-pagination>
      </div>
    </div>
  </div>
</div>
