<div class="d-flex" (change)="onResize($event)">
  <input class="cb-sidebar" [checked]="isOpen" type="checkbox" name="" id="cb-sidebar">
  <a class="button-control-sidebar position-fixed" (click)="openOrCloseSidebar($event)">
    <label for="cb-sidebar">
      <fa-icon [icon]="faArrow"></fa-icon>
    </label>
  </a>
  <div class="sidebar-container col-xxl-2 col-xl-2 col-lg-2 col-md-3 col-sm-3 col-3 u-padding-right-2px">
    <app-sidebar (subNavigation)="getSubNav($event)"></app-sidebar>
  </div>
  <div class="home-container col-xxl-10 col-xl-10 col-lg-10 col-md-9 col-sm-9 col-9">
    <app-header class="position-fixed"></app-header>
    <div class="u-margin-top-big min-h-sub">
      <!-- Enhanced Breadcrumb Navigation -->
      <nav class="breadcrumb-nav" *ngIf="listRouteNav.length > 0" aria-label="Breadcrumb navigation">
        <div class="breadcrumb-nav__icon">
          <i class="bi bi-compass"></i>
        </div>
        <div class="breadcrumb-nav__trail">
          <!-- Home breadcrumb item (always first) -->
          <div class="breadcrumb-item breadcrumb-item--home" (click)="redirectTo('/home/new-feed', -1)">
            <i class="bi bi-house-door-fill"></i>
            <span>Home</span>
          </div>
          <!-- Dynamic breadcrumb items with separators -->
          <ng-container *ngFor="let item of listRouteNav; let i = index">
            <span class="breadcrumb-separator">/</span>
            <div class="breadcrumb-item" [class.breadcrumb-item--current]="i === listRouteNav.length - 1" (click)="redirectTo(item.route, i)">
              <i class="bi bi-folder"></i>
              <span>{{isLangEn ? item.nameEn : item.nameVi}}</span>
            </div>
          </ng-container>
        </div>
        <!-- Current location indicator -->
        <div class="breadcrumb-current">
          <i class="bi bi-geo-alt-fill"></i>
          <div class="breadcrumb-current__text">
            <span class="current-label">You're here:</span>
            <span class="current-page">{{isLangEn ? listRouteNav[listRouteNav.length - 1]?.nameEn : listRouteNav[listRouteNav.length - 1]?.nameVi}}</span>
          </div>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
