<div class="pt-3 ms-3 me-4 faculty-container">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <div class="d-flex control">
    <h1 class="ps-5 d-inline-block text-uppercase col-xxl-10 col-xl-10 col-lg-8 col-md-8 col-sm-6 col-6">
      {{'TITLE.CATEGORY'|translate}}
    </h1>
    <div class="btn-create-group d-inline-block col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-6 col-6">
      <button class="btn btn-outline-primary me-4 d-none d-lg-block" (click)="createCategory()">
        {{'BUTTON.CREATE_CATEGORY'|translate}}
      </button>
      <button class="btn btn-outline-primary me-4 d-block d-lg-none" (click)="createCategory()">
        <i class="bi bi-plus-square"></i>
      </button>
    </div>
  </div>
  <div class="w-100-pc d-flex flex-row-reverse">
    <ng-select
      class="u-margin-vertical-auto d-inline-block text-start mb-4 col-xxl-2 col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4"
      [searchable]="false" [clearable]="false" [(ngModel)]="category" (change)="filterCategory()">
      <ng-option value="group">{{'SIDEBAR.GROUPS'|translate}}</ng-option>
      <ng-option value="report">{{'SIDEBAR.REPORT'|translate}}</ng-option>
    </ng-select>
    <div
      class="form-check form-switch  ms-3 u-margin-vertical-auto col-xxl-2 col-xl-2 col-lg-3 col-md-3 col-sm-4 col-4">
      <input class="form-check-input fs-2 u-margin-auto" type="checkbox" role="switch" id="deleted"
        (click)="filterDeleted()">
      <label class="form-check-label fs-4 ms-3" for="deleted">{{'TITLE.DELETED'|translate}}</label>
    </div>
  </div>
  <table class="table table-striped" style="width:100%">
    <thead>
      <tr>
        <th>{{'TABLE.NAMEEN'|translate}}</th>
        <th>{{'TABLE.NAMEVI'|translate}}</th>
        <th class="text-center">{{'TABLE.ACTION'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of listCategory; let i = index">
        <td>{{category.nameEn}}</td>
        <td>{{category.nameVi}}</td>
        <td class="text-center">
          <i class="bi bi-pencil-square btn-edit" *ngIf="!category.isDelete" (click)="editCategory(category,i)"></i>
          <i class="bi bi-trash btn-delete ms-3" *ngIf="!category.isDelete" (click)="deleteCategory(category,i)"></i>
          <i class="bi bi-arrow-repeat btn-restore ms-3" *ngIf="category.isDelete"
            (click)="restoreCategory(category,i)"></i>
        </td>
      </tr>
      <tr *ngIf="!listCategory?.length" class="text-center">
        <td colspan="4" class="fs-2">{{'TITLE.NO_DATA'|translate}}</td>
      </tr>
    </tbody>
  </table>
</div>
