<div class="profile-container u-center-text">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  </ngx-spinner>
  <form class="form-profile col-xxl-6 col-xl-6 col-lg-8 col-md-8 col-sm-10 col-10 u-center-text position-relative"
    #formUpdateProfile="ngForm">
    <h1>{{'HEADER.PROFILE'|translate}}</h1>
    <button class="btn-cancel position-absolute" routerLink="/index"><img
        src="https://img.icons8.com/ios/30/000000/cancel.png" /></button>
    <hr>
    <img class="form-profile__avatar u-margin-bottom-small"
      [src]="imageSrc || 'https://res.cloudinary.com/blogreview/image/upload/v1636626365/review_web/hzshd4vahy6hw6m0a9p5.png'"
      alt="your image" require name="avatar" /> <br>
    <input class="u-margin-bottom-small" type='file' (change)="readURL($event);" accept="image/*" />
    <input *ngIf="!isCompany" class="form-control u-margin-bottom-small" type="text"
      placeholder="{{'TABLE.FULLNAME'|translate}}" ngModel name="fullname" [(ngModel)]="profile.fullname" required>
    <input *ngIf="isCompany" class="form-control u-margin-bottom-small" type="text"
      placeholder="{{'TABLE.COMPANY_NAME'|translate}}" ngModel name="fullname" [(ngModel)]="profile.fullname" required>
    <div class="d-flex">
      <input class="form2-control u-margin-bottom-small col-9" type="text" placeholder="{{'TABLE.PHONE'|translate}}"
        ngModel name="phone" [(ngModel)]="profile.phone" required [disabled]="!isAble">
      <button [disabled]="isRequested" *ngIf="isVisible" class="button-text button-text-resend u-margin-auto col-3"
        (click)="requestOTP()">{{'BUTTON.REQUEST_OTP'|translate}}</button>
    </div>
    <div class="d-flex" *ngIf="isRequested">
      <input class="form2-control u-margin-bottom-small col-9" type="text" placeholder="OTP" ngModel name="OTP"
        [(ngModel)]="OTPConfirm" required>
      <button class="button-text button-text-resend u-margin-auto col-3"
        (click)="submitOTP()">{{'BUTTON.SUBMIT'|translate}}</button>
    </div>
    <input *ngIf="!isCompany" class="form-control u-margin-bottom-small" type="date" [(ngModel)]="dob" name="dob"
      required>
    <input class="form-control u-margin-bottom-small" type="text" placeholder="{{'TABLE.ADDRESS'|translate}}"
      [(ngModel)]="profile.address" name="address" required>
    <input class="form-control u-margin-bottom-small" type="text" [(ngModel)]="profile.email" name="email" required
      disabled>
    <button class="btn-update" (click)="onSubmit(formUpdateProfile)">{{'BUTTON.UPDATE_PROFILE'|translate}}</button>
  </form>
</div>
